NEXT_PUBLIC_CONTACT_FORM_ENDPOINT=/api/contact

CONTACT_TO_EMAIL=biuro@folielumera.pl
CONTACT_FROM_EMAIL="Lumera <biuro@folielumera.pl>"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=biuro@folielumera.pl
SMTP_PASS=UZUPELNIJ_HASLO_APLIKACJI
